*{box-sizing: border-box;}

.cell {
  border: black thin solid;
  float: left;
  width: 33.333333333%;
  text-align: center;
  font-size: 200px;
  height: 100%;
}

.tila{
  height: 33.33333%
}

html, body {
  height: 100%;
  margin: 0;
}
